section {
	background-color: #eeeeee;
}

section, .container, .container-fluid {
	position: relative;
	word-wrap: break-word;
}

a.mbr-iconfont:hover {
	text-decoration: none;
}

.article .lead p, .article .lead ul, .article .lead ol, .article .lead pre, .article .lead blockquote {
	margin-bottom: 0;
}

a {
	font-style: normal;
	font-weight: 400;
	cursor: pointer;
}
a, a:hover {
	text-decoration: none;
}

figure {
	margin-bottom: 0;
}
button:focus{
	outline: none;
}
body {
	color: #232323;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4 {
	line-height: 1;
	word-break: break-word;
	word-wrap: break-word;
}

b, strong {
	font-weight: bold;
}

blockquote {
	padding: 10px 0 10px 20px;
	position: relative;
	border-left: 2px solid;
	border-color: #ff3366;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
	transition-delay: 9999s;
	transition-property: background-color, color;
}

textarea[type="hidden"] {
	display: none;
}

body {
	position: relative;
}

section {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
section .mbr-background-video, section .mbr-background-video-preview {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.hidden {
	visibility: hidden;
}

.mbr-z-index20 {
	z-index: 20;
}

/*! Base colors */
.mbr-white {
	color: #ffffff;
}

.mbr-black {
	color: #000000;
}

.mbr-bg-white {
	background-color: #ffffff;
}

.mbr-bg-black {
	background-color: #000000;
}

/*! Text-aligns */
.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

@media (max-width: 767px) {
	.align-left, .align-center, .align-right, .mbr-section-btn, .mbr-section-title {
		text-align: center;
	}
}
/*! Font-weight  */
.mbr-light {
	font-weight: 300;
}

.mbr-regular {
	font-weight: 400;
}

.mbr-semibold {
	font-weight: 500;
}

.mbr-bold {
	font-weight: 700;
}

/*! Media  */
.media-size-item {
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-o-flex: 1 1 auto;
	flex: 1 1 auto;
}

.media-content {
	-webkit-flex-basis: 100%;
	flex-basis: 100%;
}

.media-container-row {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: start;
	-ms-flex-align: start;
	align-items: start;
}
.media-container-row .media-size-item {
	width: 400px;
}

.media-container-column {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.media-container-column > * {
	width: 100%;
}

@media (min-width: 992px) {
	.media-container-row {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
}
figure {
	overflow: hidden;
}

figure[mbr-media-size] {
	transition: width 0.1s;
}

.mbr-figure img, .mbr-figure iframe {
	display: block;
	width: 100%;
}

.card {
	background-color: transparent;
	border: none;
}

.card-img {
	text-align: center;
	flex-shrink: 0;
}

.media {
	max-width: 100%;
	margin: 0 auto;
}

.mbr-figure {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	-webkit-align-self: center;
	align-self: center;
}

.media-container > div {
	max-width: 100%;
}

.mbr-figure img, .card-img img {
	width: 100%;
}

@media (max-width: 991px) {
	.media-size-item {
		width: auto !important;
	}

	.media {
		width: auto;
	}

	.mbr-figure {
		width: 100% !important;
	}
}
/*! Buttons */
.mbr-section-btn {
	margin-left: -.25 rem;
	margin-right: -.25 rem;
	font-size: 0;
}

nav .mbr-section-btn {
	margin-left: 0rem;
	margin-right: 0rem;
}

/*! Btn icon margin */
.btn .mbr-iconfont, .btn.btn-sm .mbr-iconfont {
	cursor: pointer;
	margin-right: 0.5 rem;
}

.btn.btn-md .mbr-iconfont, .btn.btn-md .mbr-iconfont {
	margin-right: 0.8 rem;
}

.mbr-regular {
	font-weight: 400;
}

.mbr-semibold {
	font-weight: 500;
}

.mbr-bold {
	font-weight: 700;
}

[type="submit"] {
	-webkit-appearance: none;
}

/*! Full-screen */
.mbr-fullscreen .mbr-overlay {
	min-height: 100vh;
}

.mbr-fullscreen {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	align-items: center;
	-webkit-align-items: center;
	min-height: 100vh;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/*! Map */
.map {
	height: 25rem;
	position: relative;
}
.map iframe {
	width: 100%;
	height: 100%;
}

/* Form */
.form-asterisk {
	font-family: initial;
	position: absolute;
	top: -2px;
	font-weight: normal;
}

/*! Scroll to top arrow */
.mbr-arrow-up {
	bottom: 25px;
	right: 90px;
	position: fixed;
	text-align: right;
	z-index: 5000;
	color: #ffffff;
	font-size: 32px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.mbr-arrow-up a {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	height: 60px;
	width: 60px;
	outline-style: none !important;
	position: relative;
	text-decoration: none;
	transition: all .3s ease-in-out;
	cursor: pointer;
	text-align: center;
}
.mbr-arrow-up a:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
.mbr-arrow-up a i {
	line-height: 60px;
}

.mbr-arrow-up-icon {
	display: block;
	color: #fff;
}

.mbr-arrow-up-icon::before {
	content: "\203a";
	display: inline-block;
	font-family: serif;
	font-size: 32px;
	line-height: 1;
	font-style: normal;
	position: relative;
	top: 6px;
	left: -4px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

/*! Arrow Down */
.mbr-arrow {
	position: absolute;
	bottom: 45px;
	left: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: rgba(22, 49, 95, 0.61);
	border-radius: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.mbr-arrow > a {
	display: inline-block;
	text-decoration: none;
	outline-style: none;
	-webkit-animation: arrowdown 1.7s ease-in-out infinite;
	animation: arrowdown 1.7s ease-in-out infinite;
}
.mbr-arrow > a > i {
	position: absolute;
	top: -2px;
	left: 15px;
	font-size: 2rem;
}

@keyframes arrowdown {
0% {
transform: translateY(0px);
-webkit-transform: translateY(0px); }
50% {
transform: translateY(-5px);
-webkit-transform: translateY(-5px); }
100% {
transform: translateY(0px);
-webkit-transform: translateY(0px); } }
@-webkit-keyframes arrowdown {
0% {
transform: translateY(0px);
-webkit-transform: translateY(0px); }
50% {
transform: translateY(-5px);
-webkit-transform: translateY(-5px); }
100% {
transform: translateY(0px);
-webkit-transform: translateY(0px); } }
@media (max-width: 500px) {
	.mbr-arrow-up {
		left: 50%;
		right: auto;
		transform: translateX(-50%) rotate(180deg);
		-webkit-transform: translateX(-50%) rotate(180deg);
	}
}
/*Gradients animation*/
@keyframes gradient-animation {
from {
	background-position: 0% 100%;
	animation-timing-function: ease-in-out;
}
to {
	background-position: 100% 0%;
	animation-timing-function: ease-in-out;
} }
@-webkit-keyframes
gradient-animation {from {
	background-position: 0% 100%;
	animation-timing-function: ease-in-out;
}
to {
	background-position: 100% 0%;
	animation-timing-function: ease-in-out;
} }
.bg-gradient {
	background-size: 200% 200%;
	animation: gradient-animation 5s infinite alternate;
	-webkit-animation: gradient-animation 5s infinite alternate;
}

.menu .navbar-brand {
	display: -webkit-flex;
}
.menu .navbar-brand span {
	display: flex;
	display: -webkit-flex;
}
.menu .navbar-brand .navbar-caption-wrap {
	display: -webkit-flex;
}
.menu .navbar-brand .navbar-logo img {
	display: -webkit-flex;
}
@media (min-width: 768px) and (max-width: 991px) {
	.menu .navbar-toggleable-sm .navbar-nav {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
	}
}
@media (min-width: 992px) {
	.menu .navbar-nav.nav-dropdown {
		display: -webkit-flex;
	}
	.menu .navbar-toggleable-sm .navbar-collapse {
		display: -webkit-flex !important;
	}
}

/*# sourceMappingURL=style.css.map */
.engine {
	position: absolute;
	text-indent: -2400px;
	text-align: center;
	padding: 0;
	top: 0;
	left: -2400px;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: -moz-linear-gradient(-29deg,#000428, #0074da);
	background-image: -webkit-linear-gradient(-29deg,#000428, #0074da);
	background-image: -ms-linear-gradient(-29deg,#000428, #0074da);
	opacity: .9;
}
.img_bg1 {
	background-image: url(../../../assets/images/jumbotron.jpg);
}
.allinone_carousel img {
	max-width: none;
	max-height: none;
}

#screenshot {
	position: relative;
	overflow: hidden;
}
.slider-3d > div {
    margin: 0 auto;
}
/*heade*/

/*
 * ----------------------------------------------------------------------------------------
 * Dont copy this CSS
 * ----------------------------------------------------------------------------------------
 */

/*
 * ----------------------------------------------------------------------------------------
 * * Dont copy above CSS
 * ----------------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------------
 * Header And Banner
 * ----------------------------------------------------------------------------------------
 */

.welcome-area {
	height: 100%;
}
.welcome-area .logo {
	padding-top: 0;
}
.welcome-area .logo img {
	width: 122px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.menu-bg .logo img {
	width: 80px;
}
.welcome-area .logo a {

	padding: 15px 0;
}
@media (max-width: 767px) {
	.welcome-area .logo a {
		padding: 12px 0;
	}
}

.welcome-image-area {
	position: relative;
	height: 100%;
	background: url(../images/banner/slider1.jpg);
	background-size: cover;
	z-index: 1;
}
.inner-img {
	background: url(../images/2.jpg);
	background-size: cover;
}
.welcome-area__inner {
	height: 450px;
}
.welcome-image-area:after {
	position: absolute;
	/*background:rgba(21, 34, 53, 0.48);*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#af8b1c+0,062287+100 */
	background: rgb(175,139,28); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(175,139,28,1) 0%, rgba(6,34,135,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(175,139,28,1) 0%,rgba(6,34,135,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(175,139,28,1) 0%,rgba(6,34,135,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af8b1c', endColorstr='#062287',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
	opacity: 0.9;
}

.particle-bg {
	position: relative;
	height: 100%;
	background: url(../images/slider.jpg);
	background-size: cover;
	z-index: 1;
}

.particle-bg:after {
	position: absolute;
	background: rgba(0, 0, 0, .6);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
}

.display-table {
	display: table;
	width: 100%;
	height: 100%;
}

.display-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.header-text h1 {
	color: #fafafa;
	font-size: 80px;
	font-weight: 900;
	text-transform: capitalize;
}

.header-top-area {
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 14px;
	width: 100%;
	z-index: 999;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.logo {
	padding-top: 11px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.logo a {
	display: inline-block;
	color: #fff;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 24px;
	font-family: 'Dancing Script', cursive;
}
.navbar-toggler {
	z-index: 9;
}
.mainmenu ul {
	margin: 0;
	padding: 0;
}
.mainmenu .navbar-nav li a {
	color: #fff;
	font-size: 12px;
	padding: 14px 14px 14px;
	-webkit-transition: .3s;
	transition: .3s;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	display: block;
}
.mainmenu .navbar-nav > li > a {
	font-weight: 500;
	letter-spacing: 0.5px;
}
.mainmenu .navbar-nav li a:hover {
	background: none;
	color: #fff;
}
.nav li a:focus, .nav li a:hover {
	background: none;
	color: #fff;
}
.nav li a:focus {

	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
@media (min-width: 768px) {
	.mainmenu .navbar-nav li a:hover {
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
	.nav li a:hover {

		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
}
.navbar {
	margin: 0;
}

.menu-bg {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background-image: -moz-linear-gradient(-29deg,#000428, #0074da);
	background-image: -webkit-linear-gradient(-29deg,#000428, #0074da);
	background-image: -ms-linear-gradient(-29deg,#000428, #0074da);
	box-shadow: 1px 8px 14px 0px rgba(0, 0, 0, 0.08);
	padding-top: 0;
}

.menu-bg .logo {

	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.menu-bg .mainmenu .navbar-nav li a {

	-webkit-transition: .3s;
	transition: .3s;
}
.menu-bg .mainmenu .navbar-nav > li > a {
	padding: 14px 14px 14px;
}
.menu-bg .mainmenu .navbar-nav li a:hover {
	color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
	.mainmenu .navbar-nav li a {
		padding: 30px 6px;
	}
}
@media only screen and (max-width: 767px) {
	.header-top-area{
		background-image: -moz-linear-gradient(-29deg,#000428, #0074da);
	background-image: -webkit-linear-gradient(-29deg,#000428, #0074da);
	background-image: -ms-linear-gradient(-29deg,#000428, #0074da);
	padding-top: 0;
	}
	.mainmenu{
		margin: 0 -15px;
		position: relative;
	}
	.mainmenu ul.navbar-nav{
		padding-top: 15px;
	}
	.mainmenu:before{
		content:'';
		height: 1px;
		width: 100%;
		background: #fff;
		position: absolute;
		top:15px;
		left: 0;
	}
	.mainmenu .navbar-collapse {
		border: 0px;
		border-radius: 0px;
		float: none;
		margin: 0;
		max-height: 303px;
		overflow: auto;
		width: 100%;
	}
	.site-header .navbar-collapse {
		opacity: 1;
		visibility: visible;
	}
	.navbar-toggler {
		position: absolute;
		right:0;
		top: 0;
		padding: 9px 10px;
		margin-top: 8px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	.navbar-toggler .icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
	}
	.navbar-toggler .icon-bar + .icon-bar {
		margin-top: 4px;
	}
	.navbar-toggler .icon-bar {
		background: #fff;
	}
	.navbar-toggler {
		margin-top: -26px;
		margin-right: 0;
	}
	.navbar {
		min-height: 0px;
	}
	.mainmenu .navbar-nav li a {
		padding: 11px 0;
	}
	.menu-bg .mainmenu .navbar-nav li a {
		padding: 11px 15px;
	}
	.mainmenu .navbar-nav li a:hover {
		color: #ccc;
	}
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
		max-height: 420px;
	}
	
	.welcome-image-area, .welcome-video-area {
		padding-top: 120px;
	}
	.welcome-image-area h2, .single-slide-item h2, .welcome-video-area h2 {
		font-size: 20px;
	}
	.header-text h1 {
		font-size: 30px;
	}
	.navbar-toggler .icon-bar {
		background: #fff;
	}
	.header-text h1 {
		font-size: 30px;
	}
	.welcome-image-area, .welcome-video-area {
		padding-top: 120px;
	}
}

/*
 * ----------------------------------------------------------------------------------------
 * DROPDOWN CSS STYLE
 * ----------------------------------------------------------------------------------------
 */

.mainmenu ul {
	list-style-type: none
}
.mainmenu ul li {
	position: relative;
}
.mainmenu li ul.sub-menu, .mainmenu ul li ul.sub-menu li ul.sub-menu {
	background: #000;
	right: 10px;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 115%;
	visibility: hidden;
	min-width: 200px;
	z-index: 999;
}

.mainmenu ul li ul.sub-menu li ul.sub-menu {
	top: 0;
	left: 100%;
}
@media (min-width: 768px) {
	.mainmenu li ul.sub-menu, .mainmenu ul li ul.sub-menu li ul.sub-menu {
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
}
.mainmenu ul li ul.sub-menu li {
	padding: 0;
	width: 100%;
}

.mainmenu ul li:hover ul.sub-menu {
	top: 100%;
	opacity: 1;
	filter: alpha(opacity=100);
	z-index: 999;
	visibility: visible;
}

.mainmenu ul.nav > li ul li:hover ul.sub-menu {
	opacity: 1;
	filter: alpha(opacity=100);
	visibility: visible;
}

.mainmenu ul li ul.sub-menu li a {
	color: #fff !important;
	cursor: pointer;
	display: block;
	padding: 10px 10px 10px 20px;
}

.mainmenu ul li ul.sub-menu li:last-child a {
	border-bottom: none;
}

.mainmenu ul li:hover ul.sub-menu li a:hover {
	text-decoration: none;
	background: #333;
	padding: 10px 10px 10px 20px;
}
@media (max-width: 767px) {
	.mainmenu li ul.sub-menu, .mainmenu ul li ul.sub-menu li ul.sub-menu {
		position: static;
		opacity: 1;
		visibility: visible;
		display: none;
	}
}
@media only screen and (min-width: 768px) {
	.mainmenu li ul.mega-menu {
		width: 400px;
	}
	.mainmenu ul li ul.mega-menu li {
		float: left;
		width: 50%;
	}
}

/**
 * ================================
 * Preloader Style
 * ================================
 */
.loader-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
}
.loader-wrapper {
	background: #222;
}
.ball-scale-multiple > div {
	background-color: #fff;
}
.loader-wrapper .loader-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, 50%, 0);
	-moz-transform: translate3d(-50%, 50%, 0);
	-ms-transform: translate3d(-50%, 50%, 0);
	-o-transform: translate3d(-50%, 50%, 0);
	transform: translate3d(-50%, 50%, 0);
}
.ball-scale-multiple {
	position: relative;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
}
.ball-scale-multiple > div {
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin: 2px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	position: absolute;
	left: -30px;
	top: 0px;
	opacity: 0;
	margin: 0;
	width: 60px;
	height: 60px;
	-webkit-animation: ball-scale-multiple 1s 0s linear infinite;
	animation: ball-scale-multiple 1s 0s linear infinite;
}
.ball-scale-multiple > div:nth-child(2) {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.ball-scale-multiple > div:nth-child(3) {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
@-webkit-keyframes ball-scale-multiple {
0% {
-webkit-transform: scale(0) ;
-moz-transform: scale(0) ;
-ms-transform: scale(0) ;
-o-transform: scale(0) ;
transform: scale(0) ;
opacity: 0;
}
5% {
opacity: 1;
}
100% {
-webkit-transform: scale(1) ;
-moz-transform: scale(1) ;
-ms-transform: scale(1) ;
-o-transform: scale(1) ;
transform: scale(1) ;
opacity: 0;
}
}
@keyframes ball-scale-multiple {
0% {
-webkit-transform: scale(0) ;
-moz-transform: scale(0) ;
-ms-transform: scale(0) ;
-o-transform: scale(0) ;
transform: scale(0) ;
opacity: 0;
}
5% {
opacity: 1;
}
100% {
-webkit-transform: scale(1) ;
-moz-transform: scale(1) ;
-ms-transform: scale(1) ;
-o-transform: scale(1) ;
transform: scale(1) ;
opacity: 0;
}
}
